body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(../img/fondo.png);
}

body::-webkit-scrollbar {
    width: 10px;
    background: black;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border-right: 10px solid dark;
}

.navbar {
    background-image: url(../img/nav.jpg);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

main {
    min-height: 75vh;
}

.modal-open {
    padding-right: 0px !important;
}

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-image: url(../img/nav.jpg);
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

@media (min-aspect-ratio: 1/1) {
    main {
        min-height: 90vw !important;
    }
}

@media (min-aspect-ratio: 7/6) {
    main {
        min-height: 95vh !important;
    }
}